<%= fa_icon "sort-alpha-#{@order}", text: t(:order), onclick: "sortby('#{@order}')", style: 'width:20px'%>
<% @books.each do |book| %>
    <div class="row">
      <div class="cell">
        <img src="<%= book.image %>">
      </div>

      <span class="cell fixed">
        <span class="title"><%= book.title %></span><br/>
        <span class="author"><%= book.author %></span><br/>
        <span onclick="toggle('toggle_<%= book.id%>')">
          <%= fa_icon 'info', text: t(:more), style: 'width:10px'%>
        </span>
      </span>
      <span class="cell fixed">
        <%if logged_user?%>
            <%= link_to t(:edit), edit_book_path(book) %>
            <%= link_to t(:delete), book, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%end%>
      </span>
    </div>
    
    <span id="toggle_<%= book.id%>" class="hidden">
      <span class="description"><%= book.description %></span>
    </span>
    <hr width="50%" color="#000000" size="2">
<%end%>


