<p id="notice"><%= notice %></p>

<h1><%= t(:books_list)%></h1>

<p>
  <span><%= t(:filter)%></span>: <input id="filter" onkeyup="books_filter()">
</p>

<div id="list">
  <%= render partial: 'book_list'%>
</div>

<div id="image_center"></div>

<br>

<%if logged_user?%>
  <%= link_to t(:new_book), new_book_path %>
<%end%>